.blue-circle {
  height: 100px;
  width: 100px;
  background-color: #d45ea5;
  border-radius: 50%;
  display: inline-block;
}

.orange-circle {
  height: 150px;
  width: 150px;
  background-color: #fb92d1;
  border: #d45ea5 solid 1.5px;
  border-radius: 50%;
  display: inline-block;
}

.purple-circle {
  height: 100px;
  width: 100px;
  background-color: #d45ea5;
  border-radius: 50%;
  display: inline-block;
}
