.blue-circle {
  height: 100px;
  width: 100px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

.orange-circle {
  height: 150px;
  width: 150px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

.purple-circle {
  height: 100px;
  width: 100px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}
